/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: "Yellowtail";
  src: url("../font/Yellowtail-Regular.ttf") format("truetype");
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.app {
  height: calc(100% - 38px);
  width: calc(97% );
  position: relative;
  margin: 0 auto;
  top: 19px;
  z-index: 2;
  border-radius: 3px;
  overflow: hidden;
  //overflow-y: auto;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: app-enter .3s;
  animation: app-enter .3s;
}
#pageLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: #201F1E;
}

.black-g {
  background-color: #201F1E;
  opacity: .95;
}

.btn-fb {
  background-color: #3b5998;
  color: #fff;
  border-radius: 40px;
  text-transform: capitalize;
}

.btn-fb:hover {
  background-color: #8b9dc3;
  color: #fff;
}

.card-action .btn-sign {
  background-color: #201F1E;
  color: #ffffff;
}

.card-panel {
  padding: 5px 15px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 3%;
}

.card-button {
  text-transform: capitalize;
}

.cont {
  padding: 0;
}

.over {
  position: absolute;
  top: 5%;
  left: 15%;
  z-index: 99;
  border-radius: 3%;
}

.wrapper {
  position: relative;
}

.hero {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  //z-index: 999;
  background-color: #201F1E;
  opacity: .85;
}

#full-screen-background-image {
  background-image: url('../img/bg-login.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  }

#wrapper-l {
  position: relative;
  width: 800px;
  min-height: 400px;
  //margin: 5% auto;
  color: #fff;
}

#pide{
  padding: 0px;
}

#con {
  padding: 0px;
}

.tab a {
  text-transform: capitalize;
}
section article a {
  text-transform: capitalize;
}
.yellowtail {
  color: #383838;
  font-family: "Yellowtail";
}

.yellowtail a {
  color: #383838;
  text-transform: capitalize; 
}

#button-g {
  color: #ffffff;
  font-size: 55px;
  line-height: 80px;
  width: 250px;
  height: 250px;
}

#button-g i{
  font-size: 100px;
  color: #fff;
  line-height: 250px;
}

#map {
  width: 100%;
  height: 550px;
}

#indica-sig {
  //background-color: #ffffff;
  //border-radius: 40px;
  //border-color: #FFCD54;
  //border-style: solid;
  color: #383838;
  font-size: 1.5em;
}

.yellow {
  background-color: #FFCD54 !important; 
}

.title-step {
  font-size: 1.5em;
}

.separador {
  padding: 20px 0px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.header{
  color: #383838;
}

nav ul a,
nav .brand-logo {
  color: #fff;
  font-family: 'Yellowtail';
  font-size: 3em;
}

.button-collapse {
  color: #fff;
}

p {
  line-height: 2rem;
}

.parallax-container {
  //min-height: 595px;
  line-height: 0;
  height: auto;
  color: #ffffff;
}
  .parallax-container .section {
    width: 100%;
    height: 100%;
    background-color: #FFCD54;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}