{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Cheluber - Login</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body style="background-color: #201F1E">
	<div id="pageLoader">
		<div class="row center">
			<div class="separador"></div>
			<div class="col m6 offset-m3 s10 offset-s1 center-aling">
				<div class="separador"></div>
				<img class="responsive-img" src="{% static 'img/beerloader.gif' %}" alt="loader">
				<img class="responsive-img" src="{% static 'img/logo-i.svg' %}" alt="logo">
			</div>
		</div>
	</div>
	<div class="container">
		<!-- <div class="row">
		    <form class="col s12">
		      <div class="row">
		        <div class="input-field col s6">
		          <input id="first_name" type="text" class="validate">
		          <label for="first_name">Nombre</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="last_name" type="text" class="validate">
		          <label for="last_name">Apellido</label>
		        </div>
		      </div>
		      <div class="row">
		        <div class="input-field col s6">
		          <input id="password" type="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		        <div class="input-field col s6">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		      </div>
		    </form>
		</div> -->
		<div class="row">
			<div class="col s3">
				<!-- <div class="panel panel-with-logo">
				</div> -->
				<img class="responsive-img" src="{% static 'img/logo-i.svg' %}" alt="">
			</div>
		</div>
	</div>
</body>
<footer>
	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/loader.js' %}"></script>
</footer>
</html>